
.chart-hide {
    display: none;
}

.chart-show {
    display: block;
}

.input-group .single .form-control {
    width: 100%;
    border-left: 0;
}
.input-group .single .form-control:first-child {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.input-group .double .form-control {
    width: 50%;
    border-left: 0;
}

.input-group .double .form-control:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group .triple .form-control {
    width: 33%;
    border-left: 0;
}

.input-group .triple .form-control:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.input-group .quadruple .form-control {
    width: 25%;
    border-left: 0;
}

.input-group .quadruple .form-control:first-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.data-graph {
    position: relative;
    margin: 10px 0 20px 0;
}

.data-graph > .hide-chart-button {
    position: absolute;
    right: 4px;
    top: 2px;
    color: #ccc;
    font-size: 13px;
}